@media only screen and (max-width: 600px) {
    .fc-popover.fc-more-popover {
        top: 1% !important;
        left: 16% !important;
        max-height: 80vh;
    }
    .fc-event-container {
        max-height: 50vh !important;
        overflow-y: auto !important;
    }
}

@media only screen and (min-width: 600px) {
    .fc-popover.fc-more-popover {
        padding-bottom: 100px;
        background-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-width: 0;
        .fc-widget-header {
            -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
        }
        .fc-widget-content {
            -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
        }
    }
    .fc-event-container {
        background-color: #fff;
    }
}
