.paintable.paint {
    &.fs {
        canvas {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;

            @at-root .ve & {
                width: unset !important;
                height: inherit !important;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        z-index: 2147483647;
    }

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
