#ts-content{
        margin-top:4px;
    }
    .card{
        margin: 10px 0;
        padding: 10px;
    }
    .package-pricing{

    }
    .package-details{

    }
    .package-status {
        vertical-align: middle;
        margin-top: 0;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 0px;
        text-align: center;
    }

    .pkg-data {
        background-color: #f5f5f5;
        border-radius: 5px;
        padding: 12px;
      }

    .package-stats {
        margin: 0px;
    }
    .package-status-box {
        /* border-radius: 4px; */
        background: #ffffff;
        padding: 0px;
        text-transform: uppercase;
        padding-top: 0px;
    }
    .status-active{
        background: #33aa33;
        color: #ffffff;
        max-width: 75px;
    }
    .status-sold.out{
        background: #aa3333;
        color: #ffffff;
    }
    .status-inactive{
        background: #333333;
        color: #ffffff;
    }
    .order-table{
        margin-bottom: 10px;
    }
    .ajaxLoading {
        position: fixed;
        z-index: 9999;
        height: 100%;
        width: 100%;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(128,128,128,0.5);
        color: #ffffff;
    }
    .ajaxLoading{
        padding: 18%;
    }
    .ajaxLoading h1{
        font-size: 5em;
    }
    .package-order-card{

    }
